
<section>
  <div class="container mt-5" style="width: 600px; border: 1px solid blue">
    <h4>
      Product Details
    </h4>
    <div class="row" *ngFor="let product of productsData">
      <div class="col" style="border-bottom: 1px solid gray ">
        <div class="row">
          <div class="col">Product ID</div>
          <div class="col">{{this.product.id}}</div>
        </div>
        <div class="row">
          <div class="col">Product Name</div>
          <div class="col">{{this.product.name}}</div>
        </div>
        <div class="row">
          <div class="col">Product Price</div>
          <div class="col">{{this.product.price}}</div>
        </div>
      </div>
    </div>
  </div>
</section>
