<div class="container">
    <h2 class="">List of all apps</h2>
    <ul class="list-group">
        <li class="list-group-item">
            <a routerLink="/home">Home</a>
        </li>
        <li class="list-group-item">
            <a routerLink="/parent">Parent</a>
        </li>
        <li class="list-group-item">
            <a routerLink="/shared-service">Shared Service</a>
        </li>
        <li class="list-group-item">
            <a routerLink="/http-example">Http Example</a>
        </li>
        <li class="list-group-item">
            <a routerLink="/rxjs-example">Rxjx example</a>
        </li>
        <li class="list-group-item">
            <a routerLink="/consume-http">Consume Http App</a>
        </li>
    </ul>
</div>

