<div class="container">
    <h2 class="">List of all apps</h2>
    <ul class="list-group">
        <li class="list-group-item">
            <a routerLink="/authentication">Authentication; Fake Backend; JWT & JwtHelperService; Auth Guard - CanActivate; localStorage  </a>
        </li>
        <li class="list-group-item">
            <a routerLink="/parent">Parent</a>
        </li>
        <li class="list-group-item">
            <a routerLink="/shared-service">Shared Service</a>
        </li>
        <li class="list-group-item">
            <a routerLink="/http-example">Http Example with local server</a>
        </li>
        <li class="list-group-item">
            <a routerLink="/rxjs-example">Rxjs example</a>
        </li>
        <li class="list-group-item">
            <a routerLink="/rxjs-simple-example">Rxjs simple example</a>
        </li>
        <li class="list-group-item">
            <a routerLink="/rxjs-http-client">Rxjs HTTP Client</a>
        </li>
        <li class="list-group-item">
            <a routerLink="/acomp">Rxjs Data Exchange between Components</a>
        </li>
        <li class="list-group-item">
            <a routerLink="/consume-http">Consume Http App</a>
        </li>
    </ul>
</div>

