<div class="container">
  <h2 class="">List of all apps</h2>
  <ul class="list-group">
    <li class="list-group-item">
      <a routerLink="/pipe-example">4. Pipe, Custom Pipe - PipeTransform</a>
    </li>
    <li class="list-group-item">
      <a routerLink="/reusable-component">5. Re-usable component using @Input and @Output, ngContent, ngContainer </a>
    </li>
    <li class="list-group-item">
      <a routerLink="/directives-example">6. Directives - ngIf, Hidden Property, ngSwitchCase, ngFor & Trackby, ngClass, ngStyle,  HostListener, ElementRef
      </a>
    </li>
    <li class="list-group-item">
      <a routerLink="/authentication">11. Authentication - Fake Backend, JWT & JwtHelperService, Auth Guard using
        CanActivate, localStorage </a>
    </li>
    <li class="list-group-item">
      <a routerLink="/score-counter-app">Score counter app  </a>
    </li>
    <!-- <li class="list-group-item">
          <a routerLink="/rxjs-example">Rxjs example</a>
      </li> -->
    <!-- <li class="list-group-item">
          <a routerLink="/rxjs-simple-example">Rxjs simple example</a>
      </li> -->
    <li class="list-group-item">
      <a routerLink="/rxjs-http-client">Rxjs HTTP Client - using operators - catchError, tap / rxjs - of, Observable</a>
    </li>
    <li class="list-group-item">
      <a routerLink="/acomp">Rxjs Data Exchange between Components using BehaviorSubject</a>
    </li>
    <li class="list-group-item">
      <a routerLink="/shared-service">Shared Service - MessageService using Subject</a>
    </li>
    <li class="list-group-item">
      <a routerLink="/parent">Parent</a>
    </li>

    <li class="list-group-item">
      <a routerLink="/http-example">Http Example using local server</a>
    </li>

    <li class="list-group-item">
      <a routerLink="/consume-http">Consume Http App - HttpInterceptor</a>
    </li>
  </ul>
</div>
